<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet"> -->
        <title>fpl find a manager</title>
    </head>

    <body>
        {{template "header"}}
        {{template "navbar"}}

        <main>
            <h3>fpl find a manager</h3>
            {{block "content" .}}{{end}}
        </main>

        {{template "footer"}}
    </body>
</html>